In [1]:
# Add the Pandas dependency.
import pandas as pd
# mustafa

In [3]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [4]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
# print(high_school_types)
for district in high_school_types:
    print(district)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [12]:
for district in high_school_types:
    #print(f"The high school named {district["High School"]} is a school.") #" is a {district['Type']}.") I do not know why this did not work!
        print(district['High School'])

Griffin
Figueroa
Wilson
Wright

In [11]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
print(high_schools)

['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']

In [17]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [18]:
print(school_series)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [25]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [32]:
x = range(15)
for n in x:
    print(school_series[n])

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [13]:
# A dictionary of high schools # wait, this is a list of dictionaries. the tutorial is nice but the lack of precision
# in explanations is offputting.
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [16]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [15]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [18]:
# initialize a new dataframe
schools_df = pd.DataFrame()

In [19]:
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [20]:
schools_list_again = {"School id" : school_id, "Name of School" : school_name, "type of school" : type_of_school}
schools_types_df = pd.DataFrame(schools_list_again)
schools_types_df

   School id         Name of School type of school
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [21]:
# The COLUMNS, INDEX, and VALUES attributes
schools_df.columns # print keys

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [22]:
print(schools_df.columns) # it is the same result as the above.

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [23]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [24]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [32]:
# practice turning columns => lists => DataFrame


# create the first list for id column
school_id_test = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# create the second list for names column
school_name_test = ["Huang High School" , "Figueroa High School" , "Shelton High School" , "Hernandez High School" , "Griffin High School" , "Wilson High School" , "Cabrera High School" , "Bailey High School" , "Holden High School" , "Pena High School" , "Wright High School" , "Rodriguez High School" , "Johnson High School" , "Ford High School" , "Thomas High School"]

# create the third list for type column
school_type_test = ["District" , "District" , "Charter" , "District" , "Charter" , "Charter" , "Charter" , "District" , "Charter" , "Charter" , "Charter" , "District" , "District" , "District" , "Charter"]

# combine the three lists to create a dictionary
school_list_test = {"SCHOOL ID" : school_id_test , "SCHOOL NAME" : school_name_test , "SCHOOL TYPE" : school_type_test}

# create a dataframe from the combination of lists
school_list_df = pd.DataFrame(school_list_test)

# print the dataframe
school_list_df

    SCHOOL ID            SCHOOL NAME SCHOOL TYPE
0           0      Huang High School    District
1           1   Figueroa High School    District
2           2    Shelton High School     Charter
3           3  Hernandez High School    District
4           4    Griffin High School     Charter
5           5     Wilson High School     Charter
6           6    Cabrera High School     Charter
7           7     Bailey High School    District
8           8     Holden High School     Charter
9           9       Pena High School     Charter
10         10     Wright High School     Charter
11         11  Rodriguez High School    District
12         12    Johnson High School    District
13         13       Ford High School    District
14         14     Thomas High School     Charter

In [34]:
# access columns, values
school_list_df["SCHOOL ID"]

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
Name: SCHOOL ID, dtype: int64

In [35]:
school_list_df["SCHOOL NAME"]

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: SCHOOL NAME, dtype: object

In [40]:
school_list_df.columns

Index(['SCHOOL ID', 'SCHOOL NAME', 'SCHOOL TYPE'], dtype='object')